@import "tailwindcss";

@theme {
  --color-cyber-black: #0A0A0A;
  --color-cyber-dark-gray: #1A1A1A;
  --color-cyber-gray: #2C2C2C;
  --color-cyber-light-gray: #B0B0B0;
  --color-cyber-white: #F5F5F5;
  --color-cyber-blue: #00F0FF;
  --color-cyber-purple: #8A2BE2;
  --color-cyber-pink: #FF00FF;
  --color-cyber-green: #00FF00;
  --color-cyber-red: #FF4500;
}

:root {
  --background: var(--color-cyber-black);
  --foreground: var(--color-cyber-white);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
